<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Test Plots</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.js"></script>

        <!-- COPY/PASTE SCRIPT HERE -->
        {{script|safe}}

    </head>
    <body>
    <div class=page>
    <h1>Stock Chart</h1>
    <div class=metanav>

    <h4>
    <form id='graph_page' method='post' action='graph_lulu'>
    <p>
    <input type='submit' value='Return to input page' />
    </p>
    </form>
    </h4>

    </div>
        <!-- INSERT DIVS HERE -->
        {{div|safe}}
    
    </body>
</html>
